// override vars for theming here
$background: rgb(41, 41, 41);
$light-background: #333333;
$text-color: rgb(238, 238, 238);
$primary-color: #dfd39d;
$secondary-color: #e07127;
$form-background-color: rgb(95, 95, 95);
$form-text-color: rgb(255, 255, 255);
$muted-color: rgb(173, 173, 173); // solarized comment text
$primary-button-text-color: rgb(34, 34, 34);
$code-highlight-background: #1d1d1d;