// override vars for theming here
$background: rgb(19, 19, 19);
$light-background: #141414;
$text-color: rgb(238, 238, 238);
$primary-color: #dfd39d;
$secondary-color: #e07127;
$form-background-color: rgb(39, 39, 39);
$form-text-color: rgb(255, 255, 255);
$muted-color: rgb(156, 156, 156); // solarized comment text
$primary-button-text-color: rgb(34, 34, 34);
$code-highlight-background: #1b1b1b;