{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
<title>blog.zak - Chat</title>
{% endblock %}

{% block content %}
{% include "header.html" %}

<p>
    You can find me on QuakeNet IRC under the nickname <strong>zaklaus</strong>. I am also available on Discord under the handle <strong>zpl-zak#0302</strong>.
</p>

<p>
    You can join zpl Discord server at <a href="https://discord.gg/7pJpfw7hYn" target="_blank">discord.gg/7pJpfw7hYn</a> or reach me on IRC in the <strong>#zaklaus</strong> channel on QuakeNet.
</p>

<p>
    I also receive an E-Mail, reach me at <i>contact [at] madaraszd.net</i>
</p>

<p>
    Out of convenience, here's a pre-configured IRC webchat you can use to reach me quickly:
</p>

<iframe src="https://webchat.quakenet.org/?randomnick=1&channels=zaklaus&prompt=1&uio=MTY9dHJ1ZSY5PXRydWUmMTE9MTk1a4" width="647" height="400"></iframe>

{% endblock %}
